section img{
    max-width: 100%;
}
.center {
    margin: 0 auto 0 auto;
    max-width: 90%;
    width:700px;
    
}

ul{
    display:flex;
    margin:0;
    padding:0;
    list-style-type:none;
}

li{
    flex:1 1 auto;
    margin-right:8px;
}
li:last-of-type{
    margin-right:0;
}
.top-page{
min-height: 100vh;
background-image: url("IMAGE/top.jpg");
background-size: cover;
}

.logo{
    width: 350px;
    margin-top: 18px;
    margin-left: 18px;
}

.main-nav{
    display:flex;
    font-size:2rem;
    list-style: none;
}
   
.main-nav li {
    margin-left:50px;  }
   
.main-nav a{
 color:saddlebrown;
 text-decoration:none;
}
.main-nav a:hover{
 color:rgba(88, 66, 216, 0.589)
}
   
.page-header{
 display:flex;
 justify-content: space-between;    
 height: 60px;
}


.home-content{
    text-align:center;
    margin-top: 15%;
    color:rgb(24, 48, 71);
}

.sub-content{
    text-align:center;
    color:rgb(24, 48, 71);
}

#button{
  font-size: x-large;  
  background: burlywood;
  color:#fff;
  border-radius: 5px;
  padding: 18px 32px;
  text-decoration:none;
}
.button:hover{
    background:rgba(89, 66, 216, 0.384)
}
